*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: orange;
    height:100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    margin:0;
    overflow:hidden;
}
.controls{
    background-color:rgba(0,0,0,0.1);
    font-size:18px;
    
    padding:10px 20px;

    position:absolute;
    bottom:20px;

}